source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0

nuget FSharp.Core < 6
nuget KubernetesClient
nuget FSharp.SystemTextJson


nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget coverlet.collector
nuget FsUnit.xUnit
nuget semver